body,
html {
  position: fixed;
}
body {
    background-color:#fff;
}
.axis_y {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: absolute;
    font-weight:normal;
}
.axis_y.ozone {
    top: 300px;
    left: -120px;
}
.axis_y.pm {
    top: 300px;
    left: -60px;
}
.axis_x,
.axis_y {
    font-size: 1.75em;
    color:#333;
}
.title {
    font-size: 1em;
}
.graph {
    position: relative;
    display: inline-block;
}
.graph img{
    
}
.title,
.axis_x {
    text-align: center;
}
.legend_cont {
    text-align:center;
    width:1400px;
}
.btnCont {
    float:right;
    width:100px;
    margin-right: 90px;
    margin-top: 35px;
}
.btnCont button{
    font-size: 28px;
    height: 75px;
    width: 175px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    display:inline;
    margin-right:20px;
    margin-bottom:20px;
    color:#fff;
    background-color:#0A76BE;
}
.btnCont button.active {
    background-color:#FF9900;
}

.credits {
    
}
.creditspage {
    margin:20px;
    font-size: 24px;
    padding-bottom: 50px;
}
.creditspage p {
    margin-bottom:20px;
}
.homeBtn {
    width:300px;
}