body,
html {
  position: fixed;
}
body {
    background-color:#fff;
}
.axis_y {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: absolute;
    font-weight:normal;
}
.axis_y.ozone {
    top: 300px;
    left: -120px;
}
.axis_y.pm {
    top: 300px;
    left: -60px;
}
.axis_x,
.axis_y {
    font-size: 1.75em;
    color:#333;
}
.title {
    font-size: 1em;
}
.graph {
    position: relative;
    display: inline-block;
}
.graph img{
    
}
.title,
.axis_x {
    text-align: center;
}
.legend_cont {
    text-align:center;
    width:1400px;
}
.btnCont {
    float:right;
    width:100px;
    margin-right: 90px;
    margin-top: 35px;
}
.btnCont button{
    font-size: 28px;
    height: 75px;
    width: 175px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    display:inline;
    margin-right:20px;
    margin-bottom:20px;
    color:#fff;
    background-color:#0A76BE;
}
.btnCont button.active {
    background-color:#FF9900;
}

.credits {
    
}
.creditspage {
    margin:20px;
    font-size: 24px;
    padding-bottom: 50px;
}
.creditspage p {
    margin-bottom:20px;
}
.homeBtn {
    width:300px;
}
.aq_advisory {
    width:1920px;
}
.advisory {
    float:left;
}
table.output2
{
    FONT-FAMILY: Arial;
    border: solid #777777;
	border-width: 1px 1px 1px 1px;
	border-spacing: 0;
    width:700px;
    display: inline-block;
    margin-left:20px;
    margin-bottom:20px;
} 
td.headerCell2
{
    background-color:#cccccc;
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	border: solid #e9e9e9;
	border-width: 1px 1px 1px 1px;
	padding: 2px 3px 2px 3px;
}
td.cellTxt2
{
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	border: solid #777777;
	border-width: 1px 1px 1px 1px;
	padding: 2px 3px 2px 3px;
} 
td.headerCell2Good
{
	background-color: #00e400;
	color: #000000;
	border: solid #4c984c;
	border-width: 1px 1px 1px 1px;
	padding: 2px 3px 2px 3px;
}   
td.headerCell2Moderate
{
	background-color: #ffff00;
	color: #000000;
	border: solid #cccb32;
	border-width: 1px 1px 1px 1px;
	padding: 2px 3px 2px 3px;
}
td.headerCell2Poor
{
	background-color: #ff7e00;
	color: #ffffff;
	border: solid #c17c3f;
	border-width: 1px 1px 1px 1px;
	padding: 2px 3px 2px 3px;
}
td.headerCell2Unhealthy
{
	background-color: #ff0000;
	color: #ffffff;
	border: solid #af5153;
	border-width: 1px 1px 1px 1px;
	padding: 2px 3px 2px 3px;
}
td.headerCell2ExtPoor
{
	background-color: #9c004a;
	color: #ffffff;
	border: solid #6e2e4c;
	border-width: 1px 1px 1px 1px;
	padding: 2px 3px 2px 3px;
}
td.headerCell2Hazardous
{
	background-color: #7e0023;
	color: #ffffff;
	border: solid #5b2332;
	border-width: 1px 1px 1px 1px;
	padding: 2px 3px 2px 3px;
}
td.cellTxt2Good
{
	background-color: #00e400;
	color: #000000;
	PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BORDER-LEFT: #ddd 1px solid;
	BORDER-RIGHT: #ddd 1px solid;
    BORDER-BOTTOM: #ddd 1px solid;
}  
td.cellTxt2Moderate
{
	background-color: #ffff00;
	color: #000000;
	PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BORDER-LEFT: #ddd 1px solid;
	BORDER-RIGHT: #ddd 1px solid;
    BORDER-BOTTOM: #ddd 1px solid;
}
td.cellTxt2Poor
{
	background-color: #ff7e00;
	color: #ffffff;
	PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BORDER-LEFT: #ddd 1px solid;
	BORDER-RIGHT: #ddd 1px solid;
    BORDER-BOTTOM: #ddd 1px solid;
}
td.cellTxt2Unhealthy
{
	background-color: #ff0000;
	color: #ffffff;
	PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BORDER-LEFT: #ddd 1px solid;
	BORDER-RIGHT: #ddd 1px solid;
    BORDER-BOTTOM: #ddd 1px solid;
}
td.cellTxt2ExtPoor
{
	background-color: #9c004a;
	color: #ffffff;
	PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BORDER-LEFT: #ddd 1px solid;
	BORDER-RIGHT: #ddd 1px solid;
    BORDER-BOTTOM: #ddd 1px solid;
}
td.cellTxt2Hazardous
{
	background-color: #7e0023;
	color: #ffffff;
	PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BORDER-LEFT: #ddd 1px solid;
	BORDER-RIGHT: #ddd 1px solid;
    BORDER-BOTTOM: #ddd 1px solid;
}
.left_col, 
.right_col {
    width:300px;
    float:left;
}